==
<!-- Footer -->
<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
          <p>&copy; 2016 Made for <a href="http://method.kz/" target="_blank">Method</a></p>
      </div>
      <div class="col-xs-12 col-md-6">
          <ul class="social-list">
              <li><a href="#" class="fa fa-facebook"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-vk"></a></li>
          </ul>
      </div>
    </div>
  </div>
</footer>